:root {
    --main-bg: #25272E;
    --nav-bg: #2B2D35;
    --btn-bg: #7A3AAA;
    --input-bg: var(--nav-bg);
    --input-label-bg: var(--btn-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2?v=3.12") format("woff2"),
    url("/fonts/Inter-Regular.woff?v=3.12") format("woff");
}

body {
    background-color: var(--main-bg);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 51rem;
    border-bottom: var(--btn-bg) 2px solid;
}

.btn {
    background-color: var(--btn-bg);
    border: 0px white solid;
    color: white;
    padding: 10px;
    cursor: pointer;
}